extends layout

block content
    .jumbotron
        .container
            h1 How may i Help you?
            p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
            a.btn.btn-primary.btn-lg(href='#', role='button') Learn more &raquo
    .container
        .row
            .col-md-4
                h2 About Us
                p Use it as a starting point to create something more unique.
                a.btn.btn-default(href='about') VIew Details
            .col-md-4
                h2 Services
                p Use it as a starting point to create something more unique.
                a.btn.btn-default(href='#') VIew Details
            .col-md-4
                h2 Get in Touch
                p Use it as a starting point to create something more unique.
                a.btn.btn-default(href='contact') VIew Details