doctype html
html(lang='en')
  head
    title #{title} | Express Website
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index') JSWebsite
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='index') Home
            li
              a(href='about') About
            li
              a(href='contact') Contact
        // /.nav-collapse
    block content
  footer
    p &copy; 2016, All rights reserved.
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

    script(src='javascripts/bootstrap.js')