body {
  padding: 50px;
}

.jumbotron {
  background:url(../images/bg.jpg);
}

footer{
  background:#f4f4f4;
  height:40px;
  text-align:center;
  margin-top:30px;
  padding-top:10px;
  overflow: auto;
}